#box1 {
  width: 200px;
  height: 200px;
  background-color: red;
  font-size: 70px;
  text-align: center;
  animation: myrotate 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: ease-out;
}

#box1:active {
  animation: 3s linear 0s infinite running myslide;
}
@keyframes myslide {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes myrotate {
  100% {
    transform: rotate(360deg);
  }
}
