body {
  background-color: black;
}
h1 {
  font-family: "Press Start 2p", "consolas";
  font-style: italic;
  font-weight: bold;
  text-decoration: dotted;
  text-decoration-color: white;
  color: white;
}
p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Press Start 2p";
  font-style: italic;
  font-weight: bold;
  text-decoration: dotted;
  text-decoration-color: white;
  color: white;
}
