body {
  background-image: url(https://images.unsplash.com/photo-1644088379091-d574269d422f?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGVjaG5vbG9neSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
  background: linear-gradient(to right, skyblue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cove;
}

p {
  background: linear-gradient(to left, skyblue, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
